##
# Main app
beets>=2.0.0

##
# Plugin : EmbedArt
# Source : https://beets.readthedocs.io/en/stable/plugins/embedart.html
# Cover art embedding
pillow

##
# Plugin : web
# Web UI
flask

##
# Plugin : chroma
# Sonic fingerprinting
pyacoustid

# ##
# # Plugin : bpmanalyser
# # Source : https://github.com/adamjakab/BeetsPluginBpmAnalyser
# # BPM analysis
# beets-bpmanalyser

##
# Plugin : beatport4
# Source : https://github.com/Samik081/beets-beatport4
# Beatport source
beets-beatport4

##
# Plugin : alternatives
# Source : https://github.com/geigerzaehler/beets-alternatives
# Alternative / External libraries management
beets-alternatives
