##
# Main app
beets~=2.0
beets[autobpm]
beets[beatport]
beets[discogs]

##
# Cover art embedding
# Plugin : EmbedArt
# Source : https://beets.readthedocs.io/en/stable/plugins/embedart.html
pillow

##
# Web UI
# Plugin : web
flask

# ##
# # Sonic fingerprinting
# # Plugin : chroma
# pyacoustid

# ##
# # BPM analysis
# # Plugin : bpmanalyser
# # Source : https://github.com/adamjakab/BeetsPluginBpmAnalyser
# beets-bpmanalyser

# ##
# # Beatport source
# # Plugin : beatport4
# # Source : https://github.com/Samik081/beets-beatport4
# beets-beatport4

##
# Tidal backup app
tidal-dl-ng
tidal-dl-ng[gui]
